body {
    margin:0;
    padding:0;
    /* position:fixed; */
    width: 100%;
    /* overflow: hidden */
}

canvas {
    height: inherit;
    width: inherit;
    touch-action: none;
}

h1 {
    font-weight: bolder;
    font-family: monospace;
    text-align: center;
}

h2 {
    font-weight: bolder;
    font-family: monospace;
    text-align: center;
}

p {
    font-family: sans-serif;
}

ul {
    font-family: monospace;
}

/* .description {
    max-width: 50%;
} */

.grid {
    display: grid;
    place-items: center;
}

.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    background: #CCCCCC;
}

.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
