<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/uke-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Participant Information</title>

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<style>
			p {
				text-align: justify;
			}
			h1,
			h2 {
				font-family: monospace;
				text-align: center;
			}
			h3 {
				font-family: monospace;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="col-sm">
				<h1>draw music!</h1>
				<h1>Participant Information</h1>
				<p>
					I would like to invite you to take part in my research project. Before
					you decide, I would like you to understand why the research is being
					conducted and what it would involve for you. Talk to others about the
					study if you wish. Please ask me if anything is unclear.
				</p>
				<h3>What is the purpose of the project?</h3>
				<p>
					Over the past few months I have been developing a web app which takes
					drawn lines on paper and converts them into music. The idea is that
					this is a more intuitive or accessible way to notate music than other
					traditional forms. At this stage, an evaluation is needed to determine
					if the app fulfils its goals.
				</p>
				<h3>Your role in the study.</h3>
				<p>
					The study consists of three sections: A pre-interview, testing, and a
					post-interview.
				</p>
				<ul>
					<li>
						The pre interview should be around 10 minutes long and will be used
						to gauge your level of musical experience.
					</li>
					<li>
						For testing I will ask you to use the app for 10-20 minutes over 5
						days. It is not necessary for those days to be consecutive. I will
						give you some prompts to follow so that you engage with the app in
						several ways.
					</li>
					<li>
						The post interview will be under an hour and will be used to gain
						insight into how you used the app, what works and what doesn't etc.
					</li>
				</ul>
				<p>
					The interview times are indicative, but I will try to keep them close
					to the stated times. I hope for the post interview to be completed by
					Sunday the 1st of May.
				</p>
				<h3>Why have you been invited to participate?</h3>
				<p>
					I'm looking for a group of 6 to 10 participants with varying levels of
					music experience. I have picked you out because I think you will add a
					valuable contribution to my study!
				</p>
				<h3>Do you have to take part?</h3>
				<p>
					No! It is entirely voluntary, and I will hold no grudge against you if
					you decide not to participate. The study will be made very clear to
					you before you participate and I will answer any questions you might
					have. If you agree to take part, I will ask you to sign a consent
					form. You are free to withdraw at any time without giving a reason.
				</p>
				<h3>
					What are the possible disadvantages and risks involved in taking part?
				</h3>
				<p>There are no disadvantages that I can think of!</p>
				<h3>What are the possible benefits of taking part?</h3>
				<p>
					There is no material reward to taking part, but you will be
					compensated with healthy quantities of love and gratitude. Also I
					think the study will be, hopefully, quite fun!
				</p>
				<h3>Will my participation in this project be kept confidential?</h3>
				<p>
					I will keep your information private throughout the study. I will
					record audio in the interviews, and take your name and store this
					information locally on my computer. Data will be anonymised in the
					final report and it won't be possible to identify individuals from the
					report. All collected data will be deleted on submission of the report
					(6th of May).
				</p>
				<h3>What will happen to the results of the project?</h3>
				<p>
					The results of the study will be included in my final report and be
					submitted as part of my bachelors degree. The report might be
					published on my website later, and you may ask for a copy from me
					directly if you're interested!
				</p>
				<h3>Who has reviewed the study?</h3>
				<p>
					My lovely supervisor, Peter Bennet (Department of Computer Science),
					has reviewed this study.
				</p>
				<h3>Further information and contact details.</h3>
				<p>
					For any more information, you can contact me at [redacted], or via
					your preferred contact method. If you have any concerns related to you
					participation in this study please contact the Faculty of Engineering
					Research Ethics Committee, via [REDACTED].
				</p>
			</div>
		</div>
	</body>
</html>
