<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hidden Pages</title>

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="column">
			<p>
				On a hillwalking trip recently I got into a rather long conversation
				debating how sailing boats work. How is it that a boat can sail into the
				wind, an entity that intuatively would be pushing the boat backwards? At
				the time I tried to put into works an explanation of my own
				understanding. I'm pretty sure I came up with this, and it may be bogus.
				But here goes:
			</p>

			<p>
				My explanation revolves around kinematics, conservation of momentum, and
				thinking of the sail catching that wind as millions of individual and
				distinct collisions between the sail and air particles in the wind.
			</p>

			<p>
				As all my favourite models go, I will start by reducing the situation to
				an extremely simplified situation. Consider the sail as a rigid line in
				2d space, as if you're looking down from the top of the boat. We will
				ignore the fact that sails bulge and flap. This one is like a wooden
				board (and actually, I think a wooden board would technically work as a
				sail). Now consider one particle of air swooping in and colliding with
				the sail.
			</p>

			<img src="/hidden/sailing/images/labelled-sail-and-wind-particle.jpg" />
		</div>

		<p>So as</p>
	</body>
</html>
