---
import '../../styles/index.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hidden Pages</title>

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="column">
			<ul>
				<li><a href="./cards/fathers-day-2022/">fathers' day 2022</a></li>
				<li><a href="./cards/mothers-day-2022/">mothers' day 2022</a></li>
				<li>
					<a href="./cards/toms-birthday-2022/">tom's birthday 2022</a>
				</li>
				<li>
					<a href="./cards/mums-birthday-2024/">mum's birthday 2024</a>
				</li>
				<li><a href="./cards/mothers-day-2024/">mothers' day 2024</a></li>
				<li><em>goofs</em></li>
				<ul>
					<li><a href="./goofs/swaglet/">swaglet</a></li>
					<li><a href="./goofs/tuft-chicken/">tuft chicken</a></li>
					<li>
						<a href="./goofs/random-willhelm-generator/"
							>random willhelm generator</a
						>
					</li>
				</ul>
			</ul>
		</div>
	</body>
</html>
