---
import '../styles/index.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Page not found</title>
	</head>
	<body>
		<div class="column">
			<h1>404</h1>
			<p>Page not found</p>
			<p>Check your url's casing and that it has a trailing slash '/'</p>
			<p><a href="./">home page</a></p>
		</div>
	</body>
</html>
