---
import MainPage from '../layouts/MainPage.astro';
---

<MainPage title="Peter Kaku">
	<div class="centre-column">
		<h1>Peter Kaku</h1>
        <p>Welcome to my website :&#41;</p>
		<ul>
			<li>
                <a
                    href="https://www.youtube.com/channel/UC8rYXjmwYU3I0dd2DM8Iq7g"
                    >music</a
                >
            </li>
            <li>
                <a href="https://openprocessing.org/user/187401"
                    >graphics</a
                >
            </li>
            <li><a href="https://peterkaku.itch.io/">games</a></li>
            <li>
                <a href="/pages/uni-final-project/">uni final project</a>
            </li>
            <li>
                <a href="/pages/castells-music/">castells music</a>
            </li>
		</ul>

        <!-- sketch holder -->
        <div class="centerer">
            <div id="sketch-holder">
                <!-- Our sketch will go here! -->
            </div>
        </div>
	</div>
</Layout>
