---
import '../styles/index.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/uke-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Links</title>

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="column">
			<ul>
				<li>
					<a href="https://www.audiotool.com/user/kaku/">audiotool</a>
				</li>
				<li>
					<a href="https://www.audiotool.com/user/breadloaf64/"
						>audiotool [discontinued]</a
					>
				</li>
				<li><a href="https://www.pond5.com/artist/peterkaku">pond5</a></li>
				<li><a href="https://peterkaku.bandcamp.com/">bandcamp</a></li>
				<li><a href="https://soundcloud.com/peterkaku">soundcloud</a></li>
			</ul>
		</div>
	</body>
</html>
