p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    font-family: monospace;
    text-align: center;
}

ul.sketch-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.sketch-tiles > li > a {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.sketch-tiles > li > a > img {
    width: 15rem;
    height: auto;
}
