<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>swaglet</title>

		<style>
			img {
				width: 50%;
				height: auto;
				display: block;
			}
		</style>
	</head>
	<body>
		<audio controls loop autoplay>
			<source src="./swaglet.mp3" type="audio/mpeg" />
			Your browser does not support the audio element.
		</audio>

		<img src="https://media4.giphy.com/media/Id67ff9s4Bc4O7M3fj/giphy.gif" />
	</body>
</html>
