---
import '../../styles/castellsMusic.css'

import { YouTube } from '@astro-community/astro-embed-youtube'
---

<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Castells Music</title>
	</head>
	<body>
		<div class="column">
			<h1>Castells Music</h1>
			<p>A resource for English speakers</p>
			<section>
				<h2>Introduction</h2>
				<p>
					I'm trying to create an English language resource for someone learning
					to play music for
					<a href="https://en.wikipedia.org/wiki/Castell">castells</a>. I'm sure
					there's plenty of good stuff online, but as a non-catalan speaker, I
					find it hard to locate, let alone understand! Now, I am not of the
					Catalan culture and I only started taking part in Castells in the
					summer of 2023, so I cannot claim to authentically represent
					traditions and culture. Any mistakes are my own.
				</p>
				<p>
					Thanks to David Vivanco for teaching me all I know about castells
					music.
				</p>
				<p>
					This is a living document. I am editing it over time. Expect things to
					move and shift and change, but please use it for your learning if it
					helps!
				</p>
				<p>- Peter Marsh (Cap de musics, Colla Castellera d'Edinburgh)</p>

				<ol>
					<li>
						<a href="#the-gralla">The Gralla</a>
					</li>
					<li>
						<a href="#scale-and-notation">Scale and Notation</a>
					</li>
					<li>
						<a href="#inana">Inana</a>
					</li>
					<li><a href="#polca-dours">Polca d'ours</a></li>
					<li><a href="#toc-de-castells">Toc de Castells</a></li>
					<li><a href="#extended-library">Extended Library</a></li>
				</ol>
			</section>

			<section>
				<h2 id="the-gralla">The Gralla</h2>

				<p>
					The gralla is the main melody instrument in castells music. It is a
					double reeded instrument like an oboe, and it is remarkably loud -
					which makes it very easy for the the castellers to hear it, even
					outside in a crowded square. It shares its name with the jackdaw.
				</p>

				<p>The gralla is made up of several parts:</p>

				<ul>
					<li>
						<strong>The inxa</strong>, also known as the canya, is the set of
						two reeds that product the instrument's sound. The reeds are
						delicately thin and bound together in a coloured thred. The colour
						of the thread indicates how hard the reeds are to play.
					</li>

					<li>
						<strong>The tudel</strong> is a metal conical tube that joins the inxa
						to the body of the instrument. Usually it is attached to a cork on one
						end which slots into the body, and the inxa gets pushed onto the pointy
						end.
					</li>

					<li>
						<strong>The cos</strong> is the main body of the instrument.
					</li>

					<li>
						<strong>The campana</strong> is the end of the instrument, which amplifies
						the sound.
					</li>
				</ul>

				<img
					src="/castells-music/gralla diagram.svg"
					alt="An annotated diagram of a gralla"
				/>

				<h3>Taking care of the gralla</h3>

				<p>
					There are a few things to keep in mind if you want to keep your gralla
					in the best condition.
				</p>
				<p>
					<strong>Storing the inxa: </strong> The inxa is a delicate piece of wood.
					If it breaks or becomes mishapen, it won't sound effectively and you will
					have to replace it. It is worth detaching from the instrument after each
					use and storing in a rigid case. I keep mine in a small sewing tin.
				</p>

				<p>
					<strong>Cleaning: </strong> It is worth running a cloth through the instrument
					to remove moisture buildup. There are handy "pull-through" or "swab" cloths
					you can buy, usually for clarinets, which have a long string with a weight
					on the end to make it easier to pass through the instrument.
				</p>
				<p>
					You can sterilise the inxa and prevent mould by dipping it in alcohol.
					Whisky does the trick!
				</p>
				<h3>Interesting articles</h3>
				<ul>
					<li>
						<a
							href="https://allaboutcatalonia.blogspot.com/2010/01/la-gralla.html"
							>La gralla | All About Catalonia</a
						>
					</li>
					<li>
						<a
							href="https://www.barcelona.cat/culturapopular/en/festivals-and-traditions/festival-characters-and-elements/gralla"
							>Gralla | Cultura Popular</a
						>
					</li>
					<li>
						<a href="https://elsberrosdelacort.cat/en/instruments/gralla/"
							>Gralla | Els Berros de la Cort</a
						>
					</li>
				</ul>
			</section>

			<section>
				<h2 id="scale-and-notation">Scale and Notation</h2>
				<p>
					These are the basic notes for the gralla and flabiol. For the
					fingering diagrams, a black circle represents a covered hole (put your
					finger down), and a white circle represents an open cole (lift your
					finger up). The topmost circle represents the thumb hold on the bottom
					of the instrument.
				</p>
				<img
					src="/castells-music/sheet music/basic scale [solfege, diagrams].svg"
					alt="Sheet music for the basic gralla Scale"
				/>
				<p>
					Note: &nbsp This is not written to concert pitch! This means that the
					'c' or 'do' on your instrument might not be the same as one on a
					different instrument.
				</p>
			</section>

			<section>
				<h2 id="inana">Inana</h2>

				<p>
					Inana is also known as "La Cosa Està Negra", or "Ailala" It is a good
					and quite simple tune to learn first.
				</p>

				<YouTube id="94raEvtKGD0" title="GRALLA - La soca està negra" />
				<YouTube
					id="XJUl3c9k4TM"
					title="Elàctrica Dharma - La Cosa Està Negra"
				/>

				<img
					src="/castells-music/sheet music/Inana [solfege].svg"
					alt="Sheet music for Inana"
				/>

				<p>
					<a href="/castells-music/sheet music/Inana [solfege].pdf">pdf</a> |
					<a href="/castells-music/sheet music/Inana [solfege, diagrams].pdf"
						>pdf with finger diagrams</a
					>
				</p>
			</section>

			<section>
				<h2 id="polca-dours">Polca d'ours</h2>

				<p>
					Polca d'ours, known in the UK as "Bear Dance" is usually played at the
					end of a castells performance, for a particular dance (see first
					video). Normally you play it three times, starting slowly and getting
					faster each time.
				</p>

				<YouTube id="OQk10808Fik" title="Gralles i tabals, la polca d'ours" />
				<YouTube id="LjSqRJhF7i0" title="GRALLA - Polca d'Ours" />
				<YouTube id="e2ah854BuM8" title="Polca d'Ours" />

				<img
					src="/castells-music/sheet music/Polca d'ours [solfege].svg"
					alt="Sheet music for Polca d'ours"
				/>

				<p>
					<a href="/castells-music/sheet music/Polca d'ours [solfege].pdf"
						>pdf</a
					>
					|
					<a
						href="/castells-music/sheet music/Polca d'ours [solfege, diagrams].pdf"
						>pdf with finger diagrams</a
					>
				</p>
			</section>

			<section>
				<h2 id="toc-de-castells">Toc de castells</h2>

				<YouTube id="AMCeEoOgSvc" title="Música i castells: Toc de Castells" />
				<YouTube
					id="-ZBLMyaZg44"
					title="Castellers del Poble Sec - 3d7 - mòbil Mabel - Diada de Santa Eulàlia (11-II-24)"
				/>

				<p>
					The toc de castells is the tune to play during a castells performance.
					Its main purpose is to communicate to those in the tower (who cannot
					see) what stage the tower is in.
				</p>

				<p>
					Each colla can have their own interpretation of the tune, which is why
					you will find different groups playing it slightly differently.
					However the main theme is instantly recognisable. For now, in the
					Edinburgh colla, we will adopt the arrangement used by the
					<a href="https://castellersdelpoblesec.cat/"
						>Castellers del Poble Sec</a
					>.
				</p>

				<img
					src="/castells-music/sheet music/Toc de castells (1st Gralla) [solfge] - page 1.svg"
					alt="Sheet music for Toc de Castells"
				/>

				<img
					src="/castells-music/sheet music/Toc de castells (1st Gralla) [solfge] - page 2.svg"
					alt="Sheet music for Toc de Castells"
				/>

				<p>
					<a
						href="/castells-music/sheet music/Toc de castells (1st Gralla) [solfege].pdf"
						>pdf</a
					>
					|
					<a
						href="/castells-music/sheet music/Toc de castells (1st Gralla) [solfege, diagrams].pdf"
						>pdf with finger diagrams</a
					>
				</p>

				<h3>Structure of the tune</h3>

				<p>Here's how you would play the Toc alongside a castell.</p>
				<ol>
					<li>
						No music while the pinya (base) of the tower is formed and the
						segons climb.
					</li>
					<li>
						Begin playing the toc when the terços begin climbing up the doces.
					</li>
					<li>
						Play the A section on loop until l'aleta, when the enxaneta is about
						to reach the top of the tower.
					</li>
					<li>
						Play the trill of l'aleta when the enxaneta is climbing onto the
						final person. When they raise their hand in the air, play the high
						sol'! This is markes the peak of the tower. The crowd goes wild.
					</li>
					<li>
						Play through the aleta section. Usually there is lots of time
						between notes - it is very up to interpretation. Keep an eye on the
						band leader for timings. The end of l'aleta runs straight into the B
						section.
					</li>
					<li>
						Play the B section on loop while the tower dismantles. Note that the
						B section is identical to the A section, it just starts in a
						different place.
					</li>
					<li>
						Play the sortida when the tower is nearly finished, and there are
						only a few people to climb down to the floor.
					</li>
				</ol>
			</section>

			<section>
				<h2 id="extended-library">Extended Library</h2>
				<p>
					Here is a bunch of sheet music, currently unorganised, but available
					for reference.
				</p>

				<ul>
					<li>
						<a
							href="/castells-music/extended library/tocs_tradicionals-entrada_a_placa.pdf"
							>Entrada a Placa</a
						>
					</li>
					<li>
						<a
							href="/castells-music/extended library/tocs_tradicionals-marxa_del_vermut1.pdf"
							>Marxa del Vermut</a
						>
					</li>
					<li>
						<a
							href="/castells-music/extended library/tocs_tradicionals-matinades_llargues.pdf"
							>Matinades Llargues</a
						>
					</li>
					<li>
						<a
							href="/castells-music/extended library/dimonis-ball_de_dimonis_de_massalfassar.pdf"
							>Ball de dimonis de Massalfassar
						</a>
					</li>
					<li>
						<a href="/castells-music/extended library/Dos i quinze.pdf">
							Dos i Quinze
						</a>
					</li>
					<li>
						<a href="/castells-music/extended library/El_Gener.pdf">El Gener</a>
					</li>
					<li>
						<a
							href="/castells-music/extended library/gegants-els_gegants_de_lordal.pdf"
							>Els Gegants de l'Ordal</a
						>
					</li>
					<li>
						<a href="/castells-music/extended library/Joan_del_Riu.pdf"
							>Joan del Riu</a
						>
					</li>
					<li>
						<a
							href="/castells-music/extended library/pasdoble-dolors_de_munt.pdf"
							>Dolors de Munt</a
						>
					</li>
					<li>
						<a href="/castells-music/extended library/pasdoble-el_bequetero.pdf"
							>El Bequetero</a
						>
					</li>
					<li>
						<a href="/castells-music/extended library/pasdoble-febrer.pdf"
							>Febrer</a
						>
					</li>
					<li>
						<a
							href="/castells-music/extended library/pasdoble-la_manta_al_coll1.pdf"
						>
							La Manta al Coll</a
						>
					</li>
					<li>
						<a href="/castells-music/extended library/scanned collection.pdf"
							>Scanned collection of several tunes</a
						>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>
